*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: Roboto,sans-serif;
}

.logo{
    width: 250px;
    height: 50px;
    background: violet;

    color: white;
    text-align: center;
    padding: 25px 0 0 0;
    font-size: 1.5em;
    font-weight: bolder;
}


.level_1{
    background-color: lightskyblue;
    color: blueviolet;
    height: 500px;
    width: auto;
    text-align: center;

    cursor: pointer;
    background-attachment: fixed;
}

.level_2{
    background-color: rgb(0, 125, 187);
    height: 500px;
    width: auto;
    
    color: blueviolet;
    text-align: center;

    cursor: pointer;
    background-attachment: fixed;
}

.level_3{
    background-color: rgb(3, 107, 159);
    height: 500px;
    width: auto;
    
    color: blueviolet;
    text-align: center;

    cursor: pointer;
    background-attachment: fixed;
}